<h5>Posted {{post.date}}</h5>
<h1>{{post.title}}</h1>
<img src= {{post.img}} alt= {{post.title}} />
<br><br>
<p>
  {{post.content}}
</p>
{{ contact-information post=post }}
<br>
<p>
  post id: {{post.id}} &nbsp; &nbsp; posted: {{post.date}}
</p>
